<h3>Selamat Datang DI JavaPHPJS</h3>
<p>Sayang sekali dukungan java pada Control WebBrowser jauh lebih buruk daripada dukungan yang diberikan oleh bahasa pemrograman lain. Saya katakan buruk karena hanya memberikan dukungan untuk html sederhana, tidak ada dukungan untuk css dan script sama sekali. bahkan tidak pula ada dukungan untuk form yang dibuat dengan html.</p>
<p>Dengan kondisi seperti ini, mustahil melanjutkan pengembangan Aplikasi Javascript Desktop menggunakan Java Swing</p>
<form>
<input type="button" value="Button Ini tidak mampu di render oleh Java Swing" />
</form>